/*@import url(https://fonts.googleapis.com/css?family=Comfortaa);*/
.wrapper{
  display: none;
}
svg.preloader {
  display: block;
  width: 170px;
  height: 80px;
}

circle.dot {
  fill: #000000;
}

circle.dot:nth-of-type(1) {
  animation: slide 1s ease infinite;
}

circle.dot:nth-of-type(2) {
  fill: #2ea1cd;
  transform: translateX(55px);
  animation: slide 1s ease infinite;
  animation-delay: 0.5s;
}

@keyframes slide {
  0%,
  100% {
    transform: translateX(0px);
  }
  50% {
    transform: translateX(70px);
  }
}

div.preloader-show {
  background-color: #fff;
  display: flex;
  box-orient: horizontal;
  align-items: center;
  justify-content: center;
  height: 90vh;
}
.container-preloader {
  align-self: center;
}

.loadingText {
  font-family: "Source Sans Pro";
  color: #00000096;
  font-size: 40px;
}
