table.dataTable thead .no-sort:after {
  display: none !important;
}

table.dataTable thead .no-sort {
  cursor: default;
  padding-right: 8px;
}

.select2-container .select2-selection--single, .select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 34px;
}

div.show-inline-flex {
  display: inline-flex;
  width: 100%;
  justify-content: space-evenly;
}
.treeview .list-group-item {
	z-index: 0;
}
.treeview .list-group-item .del-category, .treeview .list-group-item .edit-category {
    z-index: 5;
}

.vertical-alignment-helper {
    display:table;
    height: 100%;
    width: 100%;
}
.vertical-align-center {
    /* To center vertically */
    display: table-cell;
    vertical-align: middle;
}

li.select2-selection__choice {
    color: black !important;
}

.dropdown-menu .trs a {
  padding: 3px 10px !important;
}

.modal-body .form-group {
  width: 100%;
  margin-bottom: 15px;
}

.modal-body .form-group label {
  float: left;
}

.modal-body .form-group .form-control {
  width: 100%;
}
